obj/
bin/
lib/
include/
gnatinspect.db
.DS_Store
*.o
*.ali
*.npp
*.cgpr
docs/html/
css/bootstrap-theme.min.css
css/bootstrap.min.css
css/images/
css/jquery-ui.min.css
css/jquery-ui.structure.min.css
css/jquery-ui.theme.min.css
deps/PragmARC/
html/boot_ace.html
html/boot_bootstrap3.html
html/boot_jqueryui.html
html/fonts/
js/ace-builds/
js/bootstrap.min.js
js/jquery-ui.min.js
src/gnoga-application.adb
src/gnoga-gui-plugin-ace_editor.adb
src/gnoga-gui-plugin-ace_editor.ads
src/gnoga-gui-plugin-boot_strap.adb
src/gnoga-gui-plugin-boot_strap.ads
src/gnoga-gui-plugin-jqueryui-widget.adb
src/gnoga-gui-plugin-jqueryui-widget.ads
src/gnoga-gui-plugin-jqueryui.adb
src/gnoga-gui-plugin-jqueryui.ads
src/gnoga-gui-plugin-message_boxes.adb
src/gnoga-gui-plugin-message_boxes.ads

